/* BUTTONS */

a.button, a.button-light {
  color: #303030;
  background-color: #E0E0E0;
}


/* CHECKBOXES */

input.checkbox, input.checkbox-light {
  background-color: #E0E0E0;
}

input.checkbox:checked, input.checkbox-light:checked {
  background-color: #AAAAAA;
}

input.checkbox::after, input.checkbox-light::after {
  background-color: white;
}

/* CARDS */

div.card, div.card-light {
  background-color: #E0E0E0;
  color: #303030;
}

/* TEXTAREAS */
textarea.textarea, textarea.textarea-light {
  background-color: #E0E0E0;
  color: #303030;
}

/* TEXTBOXES */
input.textbox, input.textbox-light {
  background-color: #E0E0E0;
  color: #303030;
}
