body {
  font-family: "Roboto", sans-serif;
  padding: 0px 1em 1em;
}

div.elements {
  padding: 0em 1em;
}

/* BUTTONS */

a.button {
  margin: 0.2em;
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  padding: 1em 1.10em;
  font-size: default;
  border: none;
  border-radius: 0.2em;
  box-shadow: #757575 1px 3px 8px 0px;
}

/* CHECKBOXES */

input.checkbox {
  position: relative;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 6em;
  height: 3em;
  transition: background-color 0.1s ease-in-out;
  border-radius: 3em;
}

input.checkbox::after {
  content: "";
  position: absolute;
  width: 3em;
  height: 3em;
  left: 0;
  transition: left 0.1s ease-in-out;
  border-radius: 3em;
  transform: scale(0.7);
}

input.checkbox:checked::after {
  left: 3em;
}

/* CARDS */
div.card {
  display: inline-block;
  margin: 0.5em;
  padding: 1em;
  border-radius: 0.5em;
  box-shadow: #757575 1px 3px 8px 0px;
  width: 20em;
}

/* TEXTAREAS */
textarea.textarea {
  margin: 0.5em;
  outline: none;
  padding: 2em 1em;
  border-radius: 0.5em;
  border: none;
  resize: none;
  box-shadow: #757575 1px 3px 8px 0px;
  font-size: 1em;
  font-family: inherit;
}

/* TEXTBOXES */
input.textbox {
  outline: none;
  padding: 1em;
  font-family: inherit;
  font-size: 1em;
  border: none;
  border-radius: 0.2em;
  margin: 0.5em;
}
